<div class="container">
        <div class="row section">
            <div class="col s4">

            </div>
            <div class="col s4">
                <h1 class="center-align">Burger Time!</h1>
                <img class="responsive-img" id="burger" src="../public/assets/img/burger.png">
            </div>
            <div class="col s4">

            </div>
        </div>
        <div class="divider"></div>
        <div class="row section">
            <div class="col s4">

            </div>
            <div class="col s4 center-align">
                <a class="btn-floating btn-large pulse orange">
                    <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="col s4">

            </div>
        </div>
        <div class="divider"></div>
    </div>