<div class="container">
        <div class="row section">
            <div class="col s4">

            </div>
            <div class="col s4">
                <h1 class="center-align">Burger Time!</h1>
                <img class="responsive-img" id="burger" src="/assets/img/burger.png">
            </div>
            <div class="col s4">

            </div>
        </div>
   <div class="divider"></div>
        <div class="row section">
            <div class="col s4">
<h4>Choose Your Burger</h4>
   {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}" method="POST">
                <button type="submit" class='burgerAvailable waves-effect waves-light btn pulse blue'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
            </div>
            <div class="col s4 center-align"><h4></h4>
            </div>
            <div class="col s4">
<h4>Here are the Burgers You Have Devoured!</h4>
     {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
            <div>
              <form action="/burgers/re_add/{{this.id}}" method="POST">
                <button type="submit" class='burgerAvailable waves-effect waves-light btn red'> {{this.burger_name}}</button>
              </form>
            </div>
            </div>
          {{/if}}
        {{/each}}
            </div>
        </div>
        <div class="divider"></div>
    </div>
    
    

<div class="row">
    <h2>Add A Burger Option</h2>
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Name Your Burger!" pattern="^[a-zA-Z0-9]{4,10}$" title="Please only use Alphanumeric Characters">
      <button type="submit" class="addBurgerButton">Add It!</button>
    </form>
  </div>
</div>